.glow-effect {
  cursor: pointer;
  box-shadow: 0 0 5px #333, 0 0 10px #333, 0 0 15px #555, 0 0 20px #555,
    0 0 25px #555, 0 0 35px #666, 0 0 40px #666, 0 0 50px #666, 0 0 75px #666;
}

.stars-bg {
  background-image: url('/water_button.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}